# Python 编译缓存
__pycache__/
*.py[cod]
*$py.class

# Streamlit 隐藏配置
.streamlit/

# IDE 配置文件 (如 VSCode 或 PyCharm)
.vscode/
.idea/

# macOS 系统文件
.DS_Store

# 注意：如果你的 .pkl 模型文件超过 100MB，Git 默认是传不上去的，需要用 Git LFS。
# 如果模型不大，可以直接传；如果很大，请取消下面这行的注释，不要把模型传到 Git 上
# models/*.pkl
.streamlit/